{% extends 'home_base.html' %}
{% load static %}
{% block title %}Movie Recommendation System{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<style> 
  h1{
    
    text-align: center;
    color: hsl(0, 92%, 64%);
  }
  body{
    background-color:#1f2029;
  }
  .search-bar{
      margin-left: 10%;
  }
  .logout{
    width: 10%;
    padding: 10px;
    margin-left: 95%;
    text-decoration: none;
    background: hsl(0, 92%, 64%);
    border: none;
    color: #1f2029;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  .logout:hover {
    background: #1f2029;
    color: hwb(0 31% 3%);
    border: 1px solid hsl(0, 92%, 64%);
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
  }

  .hidden {
    display:none;
  }
</style>
<a class="logout" href="{% url 'logout' %}">Logout</a>
  <h1>Movie Recommendation System</h1>
  <br>
<div class="search-bar">
  <form class="example" action="{% url 'movie-search' %}" method="GET" style="margin-top: 10px;">
    {% csrf_token %}
    <input type="text" placeholder="Choose a Movie.." name="search" style="margin-right:10px" >
    <button id="search-movies" ><i class="fa fa-search"></i></button>
    <div class="spinner hidden"></div>
  </form>

  <div class="row" id="block"></div>
</div>

<script>
  let searchForm = document.querySelector('.example');
  let searchBtn = document.getElementById('search-movies');
  let spinner = document.querySelector('.spinner');
  let dataDiv = document.getElementById('block');

  searchForm.addEventListener('submit', function(e) {
    e.preventDefault();
    searchBtn.classList.add('hidden');
    spinner.classList.remove('hidden');

    fetch("/movie-search/?search=" + encodeURIComponent(document.querySelector('input[name="search"]').value))
      .then(function(response) {
        if (!response.ok) {
          throw new Error('Network response was not OK');
        }
        return response.json();
      })
      .then(function(data) {
        searchBtn.classList.remove('hidden');
        spinner.classList.add('hidden');
  
        dataDiv.innerHTML = "";
        console.log(data);
        if (data.hasOwnProperty('data')) {
          let movieData = data.data;
          for (const movieTitle in movieData) {
            let movie = movieData[movieTitle];
            dataDiv.innerHTML += `
            <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
              <img src="${movie.Poster}" class="card-img-top" alt="${movie.Title}">
              <div class="card-body">
                <h5 class="card-title">${movie.Title}</h5>
                <p class="card-text">${movie.Plot}</p>
                <a href="/movie/${movie.Title}" class="btn btn-primary">View Details</a>
              </div>
            </div>
            </div>`;
          }
        } else {
          let errorDiv = document.createElement('p');
          errorDiv.innerText = 'No movies found';
          dataDiv.appendChild(errorDiv);
        }
      })
      .catch(function(error) {
        searchBtn.classList.remove('hidden');
        spinner.classList.add('hidden');

        let errorDiv = document.createElement('p');
        errorDiv.innerText = 'An error occurred. Please try again later.';
        dataDiv.appendChild(errorDiv);
        console.error(error);
      });
  });
</script>

{% endblock %}
