{% extends 'base.html' %}
{% load static  %}
{% block title %}Movie Recommendation System{% endblock %}

{% block content %}
<style>
  .tag{
    text-decoration: none;
   background: hsl(0, 92%, 64%);
   border: none;
   color: #1f2029;
   font-weight: 700;
   letter-spacing: 0.5px;
   cursor: pointer;
   margin-top: 30px;
   margin-left: 45%;
   padding: 10px;
  
 } 
 .tag:hover {
   background: #1f2029;
   color: hwb(0 31% 3%);
   border: 1px solid hsl(0, 92%, 64%);
 }
</style>
    <h1>Movie Recommendation System</h1>    
    <br>
    <a class="tag" href="{% url "login" %}">Get Started</a>
    
{% endblock %}
