* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    
    background: hsl(0, 92%, 64%);
    border: none;
    color: #1f2029;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
    width: 10%;
    padding: 10px;
    border-radius: 6px;
    font-size: 17px;
    border-left: none; /* Prevent double borders */
  }
  
  form.example button:hover {
    background: #1f2029;
    color: hwb(0 31% 3%);
    border: 1px solid hsl(0, 92%, 64%);
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

